<html>
  <head>
    <title>Blog Kasi</title>
  </head>
  <body>
    <div>
      <h1><a href="">Blog Kasi</a></h1>
    </div>

    <div>
      <p>published: 17.09.2017, 11:20</p>
      <h2><a href="">Moj pierwszy wpis</a></h2>
      <p>Nie pamietam jaka byla tresc mojego pierwszego postu. Chyba pospiech, ale nie jestem pewna</p>
    </div>

    <div>
      <p>published: 17.09.2017, 11.31</p>
      <h2><a href="">Moj drugi post</a></h2>
      <p>Moj drugi post jest o...eeeee... aaaaaa...ummmm...niepamietam</p>
    </div>
  </body>
</html>
